.coin-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
tr {
  background-color: #fff;
}
td {
  width: 220px;
  border-top: solid #eff2f5 2px;
  &:nth-child(1) {
    width: 70px;
  }
  
}
.all_coins {
	&:hover {
		background-color: #F8FAFD;
	  }
}
.coin_tag {
  td {
    height: 50px;
    border-top: solid #eff2f5 2px;
    border-bottom: solid #eff2f5 2px;
    cursor: pointer;
  }
  &_market_cap_rank,
  &_symbol,
  &_name,
  &_current_price,
  &_price_change_percentage_1h_in_currency,
  &_price_change_percentage_24h,
  &_market_cap,
  &_total_volume {
    background-image: url(../icons/down-chevron.png);
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-size: 15px 15px;
    user-select: none;
    &.on {
      background-image: url(../icons/up-chevron.png);
    }
  }
  &_name {
    background-position: 70% 50%;
  }
  &_market_cap_rank {
    background-position: 48px 50%;
  }
}

.coin_rank {
  max-width: 50px;
  margin-left: 10px;
}
.coin_name {
  padding-left: 20px;
}
.coin_img {
  height: 30px;
  width: 30px;
  margin-top: 5px;
}
.coin_tag_name {
  padding-left: 50px;
}
