.wrapper {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coin-tags-container  {
    width: 100%;
    
}
.coin-tags td {
    flex-basis: 25%;
    flex-grow: 0;
    text-align: center;
    border-top: 2px solid #264653;
    border-bottom: 2px solid #264653;
}
.coin-tags {
    margin: auto;
    width: 100%;
    max-width: 80%;
    display: flex;
}